@import "./variables";

footer {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
    background-color: rgb(155, 209, 235);
    height: 250px;
    padding-right: 30px;
    position: absolute;
    bottom: 0;
    width: 100%;
    .contact {
        @include kontakt-btn;
    }
}

@media (max-width: 380px) {
    footer {
        align-items: center;
        padding-right: 0;
    }
}