@import "./variables";

nav {
    background: $bg-color;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 25px;
    .contact {
      display: inline-block;
      background-color: $btn-color;
      padding: 10px 20px;
      font-size: 1.2em;
      color: $bg-color;
      border-radius: 2.5px;
      transition: 0.3s;
      &:hover {
        background-color: $btn-color-hover;
      }
    }
  }