@import "./variables";

nav {
    background: $bg-color;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 25px;
    .contact {
      @include kontakt-btn;
    }
  }

  @media (max-width: 380px) {
    nav {
      flex-direction: column;
      .contact {
        margin-top: 5px;
      }
    }
  }